{% extends "base.html.twig" %}


{% block title %}
	Créér une annonce
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Créer une annonce</h1>

		{#{{ form(formView) }}{% endblock %}#}

		{{ form_start (formView) }}

		{{ form_errors (formView) }}
		{#{{ form_widget (formView) }}#}
		<div class="row">
			<div class="col">
				{{ form_row(formView.title) }}
				{{ form_row(formView.brand) }}
				{{ form_row(formView.year) }}
				{{ form_row(formView.fuel) }}
				{{ form_row(formView.category) }}
			</div>
			<div class="col">
				{{ form_row(formView.gearbox) }}
				{{ form_row(formView.locality) }}
				{{ form_row(formView.images) }}
				{{ form_row(formView.price) }}
				{{ form_row(formView.description) }}
			</div>
		</div>


		<button type="submit" class="btn btn-primary" style="width:40%;">Créer</button>

		{{ form_end (formView) }}


	</div>
{% endblock %}
